.hero-section {
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  background: linear-gradient(to right top, #f8e4e4, #f7dcdc, #f6d4d4, #f5cdcd, #f4c5c5);
  overflow: hidden;
}

.hero-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  flex-wrap: wrap; /* Para que se acomode mejor en pantallas pequeñas */
}

.container-text-hero {
  max-width: 584px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 1;
  padding: 1rem;
}

.container-img-hero {
  width: 584px;
  max-width: 100%;
  height: auto;
  flex: 1;
  padding: 1rem;
}

.hero-section img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  display: block;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border-radius: 12px;
}

.hero-section-container div h2 {
  color: #091e42;
  font-size: 2rem;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 0;
}

.hero-section-container div span {
  color: #E92B63;
}

.hero-section-container p {
  font-size: 1rem;
  color: #333;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

.button {
  background-color: #E92B63;
  border: none;
  border-radius: 16px;
  width: fit-content;
  padding: 12px 24px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #c81b52;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
  .hero-section-container {
    flex-direction: column;
    gap: 2rem;
  }

  .container-text-hero,
  .container-img-hero {
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .hero-section-container div h2 {
    font-size: 1.75rem;
  }

  .hero-section-container p {
    font-size: 0.95rem;
  }

  .button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .hero-section-container div h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .hero-section-container p {
    font-size: 0.9rem;
  }

  .container-img-hero {
    width: 100%;
    height: auto;
  }
}
